.date {
    margin-left: 10px;
    padding: 8px 12px;
    border-radius: 12px;
    font-size: 12px;
    transition: all .25s;

    &:hover {
        letter-spacing: 0.5px;
        transition: all .25s;
    }

    &.due {
        background-color: var(--nav-hover-color);

        &:hover {
            background-color: white;
            color: #750000;
        }
    }

    &.green {
        background-color: var(--gray);

        &:hover {
            background-color: white;
            color: var(--gray);
        }
    }
}