.navigation {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #34495E;

    .Logo {
        align-self: center;
        transition: all .25s;
        padding: 0px 1rem;

        &:hover {
            font-size: large;
            letter-spacing: 3px;
            transition: all .25s;
        }
    }

    .links {
        li {
            &:hover {
                background-color: #EAECEE;
                color: #34495E;
                padding: 1.5rem 2rem;
                transition: all .25s;
                letter-spacing: 3px;
            }

            display: inline-block;
            list-style: none;
            padding: 1.5rem 1rem;
            transition: all .25s;
        }
    }
}