.task {
    display: flex;
    align-items: center;
    border-bottom: 1px white solid;
    justify-content: space-between;

    .left {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .name {
        margin-left: 8px;
    }
    .right{
        button{
            padding: 5px 10px;
            background: var(--background-color);
            &:hover{
                background: var(--nav-hover-color);
                border-radius: 8px;
            }
        }
    }
}