.task {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--sec-color);
    border-radius: 10px;
    margin: 10px 0;
    padding: 0 10px;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            display: flex;
            flex-direction: row;
            align-items: center;

            input[type="checkbox"] {
                height: 16px;
                width: 16px;

                &:checked {
                    accent-color: var(--nav-hover-color);
                }
            }
        }

        .name {
            margin-left: 8px;

            &.done {
                color: var(--gray);
                text-decoration: line-through;
            }
        }

        .right {
            display: flex;

            .dates {
                display: flex;
            }

            button {
                padding: 5px 8px;
                margin: 0 4px;
                background: var(--background-color);
                border-radius: 8px;

                &:hover {
                    background: var(--nav-hover-color);
                }
            }
        }
    }

    .desc {
        padding-bottom: 10px;
        font-size: small;
        margin: 0;
        overflow-wrap: break-word;
    }
}