.my-tasks{
    display: block;
    max-width: 800px;
    margin: 0 auto;
    
    .header{
        display:flex;
        justify-content: space-between;
    }
    .empty{
        background-color: var(--nav-color);
        padding: .5rem;
        text-align: center;
        margin-top: 1rem;
        border-radius: 10px;
    }
    .tasks-wrapper{
        padding: 1rem 0;
    }
}

button.Bottom{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    padding: 10px;
    span{
        vertical-align: middle;
    }
}