.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    background-color: var(--sec-color);
    overflow-x: hidden;
    top:0;
    margin-top: 70px;
    padding-top: 20px;

    a {
        display: block;
        padding: 8px;
        border-radius: 10px;
        margin: 10px 0;

        &.active {
            background-color: var(--nav-color);
        }
    }

    .List {
        .elem {
            padding: 6px;
            padding-left: 12px;
            margin-left: 20px;
            font-size: small;
        }
    }
}