.my-tasks{
    display: block;
    max-width: 800px;
    margin: 0 auto;
    
    .header{
        display:flex;
        justify-content: space-between;
    }
}

button.Bottom{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    padding: 10px;
    span{
        vertical-align: middle;
    }
}